// app global css in SCSS form
@font-face {
  font-family: 'Murecho';
  src: url("/fonts/Murecho-VariableFont_wght.ttf") format('ttf');
}

body {
  font-family: 'Murecho', serif;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg__dark_pink {
  background-color: #D25A73;
}

.bg__dark_blue {
  background-color: #1D607F;
}

.text_dark_blue {
  color: #1D607F;
}

.text_dark_pink {
  color: #D25A73;
}

.text_md {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.001em;
}

.mobile_menu_tabs .q-tabs__content  {
  flex-direction: column !important;
}

input {
  color: white !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}


input[type=text]:focus {
  //border: 1px solid white !important;
}
